* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(199, 94, 144);
  --secondary-color: rgb(142, 52, 95);
  --main-background-color: rgb(29, 29, 29);
  --secondary-background-color: rgb(22, 22, 22);
  --main-text-color: rgb(255, 255, 255);
  --grey-text-color: rgb(105, 105, 105);
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--main-background-color);
  font-family: 'Poppins';
  color: var(--main-text-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
}

.header__logo--pc,
.header__navbar,
.header__switcher,
.header__button,
.hero__image-main--pc,
.our-rooms__image-gallery {
  display: none;
}

.header {
  background-color: var(--secondary-background-color);
  width: 100%;
  padding: 34px 26px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 62px;
}

.header__logo--mobile {
  width: 100%;
  max-width: 178px;
}

/* Hamburger Button */

.header__hamburger {
  position: relative;
  width: 51px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0 11px;
  z-index: 1000;
}

.header__hamburger-line {
  position: absolute;
  width: 51px;
  height: 9px;
  background: var(--main-color);
  border-radius: 20px 0 0 20px;
  transition: 0.4s ease, height 0.4s ease;
  left: 0;
  transform-origin: center;
}

.header__hamburger-line--top {
  top: 0;
}

.header__hamburger-line--middle {
  top: calc(50% - 4.5px);
}

.header__hamburger-line--bottom {
  bottom: 0;
}

body.lock {
  overflow: hidden;
}

.header.open .header__hamburger-line--top,
.header.open .header__hamburger-line--bottom {
  height: 4px;
  border-radius: 20px;
}

.header.open .header__hamburger-line--top {
  transform: rotate(45deg);
  top: calc(50% - 2px); /* центр */
  background-color: rgb(255, 255, 255);
}

.header.open .header__hamburger-line--middle {
  opacity: 0;
  transform: scaleX(0);
  background-color: rgb(255, 255, 255);
}

.header.open .header__hamburger-line--bottom {
  transform: rotate(-45deg);
  bottom: auto;
  top: calc(50% - 2px);
  background-color: rgb(255, 255, 255);
}

/* Mobile Menu */

.header__mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  padding: 33px 32px 88px;
  top: 0;
  right: 0;
  width: 96vw;
  height: 100%;
  border-radius: 60px 0 0 60px;
  transform: translateX(100%);
  z-index: 100;
  background: var(--main-color);
  transition: transform 0.3s ease-in-out;
}

.header.open .header__mobile-menu {
  transform: translateX(0);
}

.mobile-menu__switcher {
  display: flex;
  justify-content: space-between;
  width: 158px;
  height: 66px;
  background-color: rgb(255, 255, 255);
  border-radius: 220px;
}

.mobile-menu__switcher--dark {
  position: relative;
  background-color: var(--secondary-color);
  border-radius: 40px;
  width: 114%;
  height: 100%;
}

.mobile-menu__switcher--dark::after {
  content: '';
  display: block;
  width: 50%;
  height: 50%;
  background-image: url('../images/dark-theme-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile-menu__switcher--light {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  width: 86%;
  height: 100%;
}

.mobile-menu__switcher--light::after {
  content: '';
  display: block;
  width: 50%;
  height: 50%;
  background-image: url('../images/light-theme-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile-menu__navigation {
  padding: 0 0 0 32px;
  display: flex;
  flex-direction: column;
  gap: 78px;
}

.mobile-menu__navigation li {
  width: 100%;
}

.mobile-menu__navigation li a {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.mobile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 372px;
  padding: 20px 80px;
  border-radius: 220px;
  color: var(--main-text-color);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.mobile-button--dark {
  background-color: var(--secondary-color);
}

.mobile-button--light {
  padding: 22px 80px;
  background-color: var(--main-color);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

/* Hero */

.hero {
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 76px;
  padding: 94px 26px 0;
  border-radius: 0 0 60px 60px;
}

.hero__content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero__subtitle {
  margin: 24px 0;
}

.section__title {
  color: rgb(105, 105, 105);
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 3.6px;
  text-align: center;
  text-transform: uppercase;
}

.section__subtitle {
  color: var(--main-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
}

.section__text {
  color: var(--main-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.hero__button {
  margin-top: 41px;
}

.hero__image {
  width: 100%;
  padding-bottom: 35px;
}

.hero__image-wrapper {
  position: relative;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 48px 0;
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.hero__main-image-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 26px;
}

.hero__image-main {
  width: 100%;
  height: auto;
  display: block;
}

.hero__image-small {
  position: absolute;
  border-radius: 50%;
  width: 17%;
  aspect-ratio: 1 / 1;
  border: 3px solid var(--main-color);
  object-fit: cover;
}

.hero__image-small--1 {
  top: 15%;
  left: 1%;
}

.hero__image-small--2 {
  top: 47%;
  left: 4%;
}

.hero__image-small--3 {
  top: 72%;
  left: 18%;
}

.hero__image-small--4 {
  top: 88%;
  left: 47%;
}

/* Contacts */

.contacts {
  margin: 50px 26px 26px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 46px;
  background-color: var(--main-color);
}

.contacts__icon {
  border-radius: 50%;
  height: 78px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__icon--location {
  background-color: var(--secondary-color);
}

.contacts__icon--email,
.contacts__icon--phone {
  background-color: var(--main-color);
}

.contacts__text a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.contacts__address,
.contacts__phone,
.contacts__email {
  display: flex;
  align-items: center;
  gap: 32px;
}

.contacts__address {
  padding: 30px 10px 0 30px;
}

.contacts__communication {
  padding: 48px 10px 57px 30px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  background-color: var(--secondary-color);
  border-radius: 70px 70px 40px 40px;
}

/* About */

.about {
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 53px 46px 28px;
  margin: 0 26px;
  border-radius: 40px;
  overflow: hidden;
}

.about__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__subtitle {
  font-size: 32px;
  line-height: 48px;
  margin: 20px 0 37px;
}

.about__button {
  margin: 37px 0 60px;
  padding: 18px 80px;
}

.about__image-wrapper {
  width: 100%;
  background-image: url(../images/about-bg.png);
  background-position-x: 110%;
  background-position-y: 23%;
  background-repeat: no-repeat;
  display: flex;
}

.about__image {
  position: relative;
  transform: translateX(-12%);
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.about__image--main {
  max-width: none;
}

/* Our rooms */

.our-rooms {
  padding: 33px 26px 58px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.our-rooms__image {
  display: flex;
  justify-content: center;
  padding-bottom: 59px;
}

.our-rooms__title {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  padding: 0 13px;
}

.our-rooms__subtitle {
  padding: 16px 0 39px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.accordion__wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.13);
  transition: all 0.8s ease;
  position: relative;
}

.accordion__wrapper.active {
  padding-bottom: 36px;
}

.our-rooms__accordion-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}

.accordion-label__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  aspect-ratio: 1 / 1;
  padding: 16px 10px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.accordion-label__icon svg {
  transition: transform 0.8s ease;
  transform: scaleY(1);
  transform-origin: center;
}

.accordion__wrapper.active .accordion-label__icon svg {
  transform: scaleY(-1);
}

.accordion-label__title {
  font-size: 19px;
  font-weight: 700;
  line-height: 30px;
  position: relative;
}

.our-rooms__accordion-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 66px;
  margin-top: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;
}

.accordion__wrapper.active .our-rooms__accordion-content {
  display: flex;
  justify-content: end;
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

/* Care Section */

.care-container {
  width: 100%;
  padding: 0 26px;
  position: relative;
}

.care {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  background-color: var(--secondary-background-color);
}

.care__intro {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 88px 37px 59px;
  background-color: var(--main-color);
  border-radius: 40px;
}

.care__intro-title {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  letter-spacing: 4.3px;
  color: rgb(24, 24, 24);
  padding-right: 76px;
}

.care__intro-subtitle {
  text-align: left;
  margin: 19px 0 16px;
}

.care__intro-text {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  padding-right: 76px;
}

.care__intro-button {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  padding: 13px 84px;
  white-space: nowrap;
  margin-top: 34px;
  width: 236px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.care__intro-button::before {
  content: '';
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
}

.care__block {
  display: flex;
  flex-direction: column;
  padding: 44px 32px 40px;
  background-color: var(--secondary-background-color);
}

.care__block:nth-child(2),
.care__block:nth-child(3) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.13);
}

.care__block:last-child {
  padding: 44px 32px 69px;
  border-radius: 0 0 40px 40px;
}

.care__block-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin: 22px 0 10px;
}

.care__block-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  padding-right: 54px;
}

/* Clients */

.slider--clients {
  padding: 43px 26px 79px;
  position: relative;
  overflow: visible;
}

.slider--clients .swiper {
  width: 100%;
  height: auto;
}

.slider--clients .swiper-slide {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.slider--clients .swiper-slide__content {
  width: 100%;
  position: relative;
  overflow: visible;
  padding-bottom: 55px;
}

.slider--clients .swiper-slide__image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.slider--clients .swiper-slide__icon {
  position: absolute;
  bottom: 0;
  left: 70%;
  transform: translate(-50%);
  padding: 26px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.slider-button {
  position: absolute;
  top: 41%;
  transform: translateY(-50%);
  width: 49px;
  height: 49px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.button-prev {
  left: 1%;
}

.button-next {
  right: 1%;
}

/* Pricing */

.pricing {
  padding: 0 26px 73px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__subtitle {
  font-size: 40px;
  line-height: 60px;
  margin: 20px 0;
}

.pricing__text {
  font-family: Poppins;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 64px;
}

.pricing__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.pricing-card {
  padding: 35px 37px 48px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-card--dark {
  background-color: var(--secondary-background-color);
}

.pricing-card--light {
  background-color: var(--main-color);
  padding: 50px 37px;
}

.pricing-card__plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pricing-card__plan-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.26em;
  text-align: left;
  text-transform: uppercase;
}

.pricing-card__plan-title--dark {
  color: var(--main-color);
}

.pricing-card__plan-title--light {
  color: var(--main-text-colorcolor);
}

.pricing-card__price {
  margin: 10px 0 42px;
  display: flex;
  align-items: end;
  gap: 10px;
  width: 100%;
}

.pricing-card__amount {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}

.pricing-card__period {
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;
}

.pricing-card__features {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pricing-card__feature {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.pricing-card__feature::before {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.2083 10.0586L12.4166 20.8503L7.79157 16.2253M29.375 14.6836C29.375 22.3465 23.163 28.5586 15.5 28.5586C7.83705 28.5586 1.625 22.3465 1.625 14.6836C1.625 7.02064 7.83705 0.808594 15.5 0.808594C23.163 0.808594 29.375 7.02064 29.375 14.6836Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
  flex-shrink: 0;
}

.pricing__button {
  width: 236px;
  padding: 14px 0;
  margin-top: 50px;
}

.pricing-card--light .pricing__button {
  font-size: 12px;
  line-height: 18px;
}

/* Reviews */

.reviews {
  padding: 0 26px;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__title {
  padding: 0 66px;
}

.reviews__subtitle {
  font-size: 32px;
  line-height: 48px;
  margin: 28px 0 20px;
}

.reviews__text {
  font-size: 14px;
  line-height: 21px;
}

.slider--testimonials {
  margin-top: 39px;
  position: relative;
}

.slider--testimonials .swiper {
  width: 100%;
  height: auto;
}

.slider--testimonials .swiper-slide__content {
  padding: 37px 42px 46px;
  background-color: var(--secondary-background-color);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slider--testimonials .swiper-slide__icon {
  display: flex;
  gap: 14px;
}

.slider--testimonials .swiper-slide__text {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.slider--testimonials .swiper-slide__author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.slider--testimonials .swiper-slide__author-image {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  border: 4px solid var(--main-color);
}

.testimonials-button-next {
  right: -5%;
  top: 48%;
}

.testimonials-button-prev {
  left: -5%;
  top: 48%;
}

input[type='number'] {
  appearance: auto;
}

/* Booking  */

.booking {
  padding: 56px 26px 93px;
}

.booking__container {
  background-color: var(--secondary-background-color);
  border-radius: 40px;
  padding: 63px 27px 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.booking__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.booking__title {
  max-width: 185px;
}

.booking__text {
  font-size: 14px;
  line-height: 21px;
}

.booking__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
}

.booking__field {
  position: relative;
  width: 100%;
}

.booking__input {
  width: 100%;
  padding: 36px 12px 13px 31px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  outline: none;
  border-radius: 40px;
  background: transparent;
}

.booking__input:focus {
  border-color: var(--main-color);
}

.date-wrapper {
  width: 100%;
  position: relative;
  display: inline-block;
}

.booking__input--date::-webkit-calendar-picker-indicator {
  opacity: 0;
  pointer-events: none;
}

.date-icon-wrapper {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 46px;
  height: 46px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}

.date-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.booking__input::placeholder {
  color: #fff;
}

.booking__label {
  position: absolute;
  top: 17px;
  left: 31px;
  transform: translateY(-50%);
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 3.6px;
  text-align: left;
  text-transform: uppercase;
  color: var(--grey-text-color);
  transition: 0.2s ease;
}

.booking__input--plan {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 140 140' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='30,50 70,90 110,50' fill='none' stroke='%23999' stroke-width='15' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px;
}

.booking__input--plan option {
  background-color: var(--main-color);
}

.booking__button {
  max-width: 316px;
}

/* Footer */

.footer__container {
  background-color: var(--secondary-background-color);
  border-radius: 100px 100px 0 0;
  display: flex;
  flex-direction: column;
  padding: 88px 26px 60px;
}

.footer__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
  width: 100%;
  position: relative;
}

.footer__intro::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 26px);
  bottom: -57px;
  height: 1px;
  background: rgba(128, 128, 128, 0.13);
}

.footer__intro-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.footer__intro-logo-image {
  max-width: 85px;
  height: auto;
  flex-shrink: 1;
}

.footer__intro-logo-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__intro-logo-text--top {
  color: var(--grey-text-color);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 4.4px;
  text-align: left;
  text-transform: uppercase;
}

.footer__intro-logo-text--bottom {
  color: var(--main-text-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
}

.footer__intro-form {
  width: 100%;
}

.footer__intro-email {
  position: relative;
  width: 100%;
}

.footer__intro-email::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 54px;
  height: 54px;
  background-color: var(--main-color);
  border-radius: 50%;
  background-image: url('../images/email-icon.png');
  background-size: 27px 21px;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.footer__intro-email__label {
  position: absolute;
  top: 17px;
  left: 31px;
  transform: translateY(-50%);
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 3.6px;
  text-align: left;
  text-transform: uppercase;
  color: var(--grey-text-color);
  transition: 0.2s ease;
}

.footer__intro-email__input {
  width: 100%;
  padding: 36px 12px 13px 31px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  outline: none;
  border-radius: 40px;
  background: transparent;
}

.footer__intro-email__input::placeholder {
  color: var(--main-text-color);
}

.footer__contacts {
  margin: 122px 0 71px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.footer__contacts-block {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
  padding-left: 5px;
}

.footer__contacts-block-icon {
  height: 50px;
  width: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__contacts-block-icon-image {
  width: 23.5px;
  height: auto;
}

.footer__contacts-block-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.footer__contacts-block-text-top {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.footer__contacts-block-text-bottom {
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.footer__plans {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footer__plans-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.footer__plans-link {
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 46px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 42px 0 82px;
}

.footer__social-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.footer__social-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.footer__social-icon {
  border-radius: 50%;
  background-color: var(--main-color);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social-icon .fab {
  font-size: 27px;
  color: var(--secondary-background-color);
}

.footer__copyright {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 480px) {
  .header {
    padding: 42px 52px 0;
  }

  .header__logo--mobile {
    max-width: 222px;
  }

  .header__mobile-menu {
    padding: 46px 48px 112px;
  }

  .mobile-menu__navigation li a {
    font-size: 36px;
  }

  .hero {
    padding: 94px 52px 0;
  }

  .hero__main-image-wrapper {
    padding: 0 40px;
  }

  .hero__image-small {
    width: 15%;
  }

  .hero__button {
    margin: 54px 0 26px;
  }

  .mobile-button--light {
    font-size: 14px;
  }

  .section__title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 5px;
  }

  .section__subtitle {
    font-size: 48px;
    line-height: 66px;
  }

  .section__text {
    font-size: 15px;
    line-height: 24px;
  }

  .contacts {
    margin: 50px 52px 50px;
  }

  .contacts__text a {
    font-size: 24px;
    line-height: 36px;
  }

  .about {
    padding: 62px 60px 42px;
    margin: 0px 52px;
  }

  .about__image {
    transform: translateX(16%);
    width: 100%;
  }

  .about__image-wrapper {
    background-position-x: 70%;
  }

  .our-rooms {
    padding: 42px 52px 66px;
  }

  .accordion-label__title {
    font-size: 22px;
    line-height: 38px;
  }

  .our-rooms__accordion-content {
    font-size: 17px;
    line-height: 23px;
    padding-left: 66px;
    margin-top: 18px;
  }

  .care-container {
    padding: 0px 52px;
  }

  .care__intro {
    padding: 84px 46px 68px;
  }

  .care__intro-button {
    font-size: 14px;
    line-height: 20px;
    padding: 18px 84px;
    width: 262px;
  }

  .care__block {
    padding: 52px 46px;
  }

  .care__block-title {
    font-size: 28px;
    line-height: 44px;
    margin: 24px 0 14px;
  }

  .care__block-text {
    font-size: 17px;
    line-height: 24px;
    padding-right: 100px;
  }

  .slider--clients {
    padding: 48px 84px 84px;
  }

  .slider--clients .swiper-slide {
    width: 75%;
  }

  .slider--clients .swiper-slide__icon {
    padding: 24px;
    width: 114px;
    height: 114px;
  }

  .slider--clients .swiper-slide__icon svg {
    width: 64px;
    height: auto;
  }

  .slider--clients .button-next {
    right: 18%;
  }

  .slider--clients .button-prev {
    left: 18%;
  }

  .pricing {
    padding: 0px 52px 82px;
  }

  .pricing__text {
    margin-bottom: 46px;
  }

  .pricing-card {
    padding: 44px 46px 60px;
    width: 100%;
    max-width: 510px;
  }

  .pricing-card__plan-title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.36em;
  }

  .pricing-card__amount {
    font-size: 50px;
    font-weight: 700;
    line-height: 76px;
  }

  .pricing-card__period {
    font-size: 18px;
    font-weight: 700;
    line-height: 62px;
  }

  .pricing-card__feature {
    gap: 20px;
    font-size: 18px;
    line-height: 28px;
  }

  .pricing-card__feature::before {
    width: 38px;
    height: 38px;
  }

  .pricing-card__plan-icon svg {
    width: 82px;
    height: auto;
  }

  .pricing__button {
    width: 100%;
    max-width: 296px;
    padding: 20px 0;
  }

  .pricing-card--light .pricing__button {
    font-size: 14px;
  }

  .reviews {
    padding: 0 52px;
  }

  .reviews__subtitle {
    margin: 34px 0 26px;
  }

  .slider--testimonials .swiper-slide__content {
    padding: 46px 52px 60px;
    gap: 25px;
  }

  .slider--testimonials .swiper-slide__text {
    font-size: 16px;
    line-height: 24px;
  }

  .slider--testimonials .swiper-slide__author {
    gap: 20px;
  }

  .slider--testimonials .swiper-slide__author-image {
    width: 95px;
    height: 95px;
  }

  .swiper-slide__author-name {
    font-size: 20px;
    line-height: 30px;
  }

  .booking {
    padding: 62px 52px 98px;
  }

  .booking__container {
    padding: 68px 36px 84px;
    gap: 56px;
  }

  .booking__title {
    max-width: 100%;
  }

  .booking__button {
    margin-top: 12px;
  }

  .footer__container {
    padding: 94px 52px 72px;
  }

  .footer__intro {
    gap: 72px;
    padding: 0 14px;
  }

  .footer__intro-logo-text--top {
    color: var(--grey-text-color);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 5.4px;
  }

  .footer__intro-logo-text--bottom {
    font-size: 48px;
    line-height: 72px;
  }

  .footer__intro-logo-image {
    max-width: 105px;
  }

  .footer__contacts-block-icon {
    height: 62px;
    width: 62px;
  }

  .footer__contacts-block-icon-image {
    width: 29.5px;
  }

  .footer__contacts-block-text-top {
    font-size: 24px;
  }

  .footer__contacts-block-text-bottom {
    font-size: 17px;
    line-height: 24px;
  }

  .footer__contacts-block {
    gap: 30px;
    padding-left: 8px;
  }

  .footer__plans-title {
    font-size: 24px;
    line-height: 36px;
  }

  .footer__plans-link {
    font-size: 17px;
    line-height: 42px;
  }
  .footer__social {
    gap: 34px;
  }

  .footer__social-text {
    font-size: 24px;
    line-height: 38px;
  }

  .footer__social-icon {
    width: 55px;
    height: 55px;
  }

  .footer__copyright {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  /* Header */

  .header__hamburger,
  .header__mobile-menu {
    display: none;
  }

  .header__navbar,
  .header__switcher {
    display: block;
  }

  .header {
    padding: 32px 42px;
    gap: 38px;
  }

  .header__navbar {
    flex-grow: 1;
  }

  .header__logo--mobile {
    max-width: 192px;
  }

  .header__navbar-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .header__navbar-item--link {
    color: var(--main-text-color);
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
  }

  .header__switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 33px;
    background-color: rgb(255, 255, 255);
    border-radius: 220px;
  }

  .header__switcher--dark {
    position: relative;
    background-color: var(--main-color);
    border-radius: 40px;
    width: 108%;
    height: 105%;
  }

  .header__switcher--dark::after {
    content: '';
    display: block;
    width: 16px;
    height: 17px;
    background-image: url('../images/dark-theme-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
  }

  .header__switcher--light {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    width: 86%;
    height: 100%;
  }

  .header__switcher--light::after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-image: url('../images/light-theme-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 39%;
    transform: translate(-50%, -50%);
  }

  /* Hero */

  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 32px 42px 110px;
    gap: 60px;
  }

  .hero__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding-top: 16px;
  }

  .hero__subtitle {
    margin: 16px 0 20px;
  }

  .section__title {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 3px;
    text-align: left;
  }

  .hero__title {
    text-wrap: nowrap;
  }

  .section__subtitle {
    font-size: 30px;
    line-height: 36px;
    text-align: left;
  }

  .section__text {
    font-size: 12px;
    line-height: 20px;
    text-align: left;
  }

  .hero__text {
    width: 86%;
  }

  .button {
    font-size: 12px;
    line-height: 18px;
    padding: 14px 41px;
    margin: 0;
  }

  .hero__button {
    max-width: 203px;
    margin-top: 48px;
  }

  .hero__image {
    padding: 0;
  }

  .hero__main-image-wrapper {
    padding: 0;
  }

  .hero__image-main {
    display: none;
  }

  .hero__image-main--pc {
    display: block;
    height: auto;
  }

  .hero__image-wrapper {
    width: auto;
    margin: -36px;
    padding: 42px 26px 42px 38px;
    overflow: visible;
  }

  .hero__image-small {
    width: 23%;
  }

  .hero__image-small--1 {
    top: 19%;
    left: -12%;
  }

  .hero__image-small--2 {
    top: 55%;
    left: -12%;
  }

  .hero__image-small--3 {
    top: 84%;
    left: 5%;
  }

  .hero__image-small--4 {
    top: 88%;
    left: 46%;
  }

  /* Contacts */

  .contacts {
    flex-direction: row;
    margin: 50px 42px -46px;
    justify-content: space-between;
    gap: 0;
    position: relative;
    top: -94px;
  }

  .contacts__address {
    padding: 22px 10px 22px 28px;
    width: 100%;
    gap: 26px;
  }

  .contacts__communication {
    border-radius: 100px 40px 40px 100px;
    padding: 22px 28px 22px 38px;
    width: fit-content;
    gap: 20px;
    text-wrap: nowrap;
  }

  .contacts__text a {
    font-size: 18px;
    line-height: 30px;
  }

  .contacts__icon {
    height: 49px;
  }

  .location__image {
    max-width: 58%;
  }

  .contacts__icon-image {
    max-width: 58%;
  }

  /* About */

  .about {
    margin: 0 42px;
    padding: 18px 34px;
    flex-direction: row;
    justify-content: space-between;
    gap: 42px;
  }

  .about__content-wrapper {
    width: 100%;
    align-items: start;
  }

  .about__subtitle {
    margin: 16px 0 20px;
  }

  .about__button {
    max-width: 165px;
    margin-top: 34px;
  }

  .about__image-wrapper {
    max-width: 100%;
    background-position-x: 52%;
  }

  .about__image {
    transform: translateX(-14%);
  }

  .about__image--main {
    max-width: 150%;
  }

  /* Our Rooms */

  .our-rooms {
    padding: 46px 42px;
    align-items: center;
  }

  .our-rooms__image {
    display: none;
  }

  .our-rooms__image-gallery {
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .image-gallery__images {
    display: flex;
    flex-direction: row;
    height: 410px;
    width: 100%;
  }

  .image-gallery__image {
    margin: 8px;
    flex-grow: 1;
    transition: flex-grow 1s cubic-bezier(0.17, 0.84, 0.44, 1), opacity 1s ease;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    opacity: 0.3;
  }

  .image-gallery__image--active {
    flex-grow: var(--total-images);
    opacity: 1;
  }

  .our-rooms__title {
    order: 1;
  }

  .our-rooms__subtitle {
    order: 2;
    padding: 0;
    margin: 18px 0 26px;
  }

  .our-rooms__accordion {
    order: 4;
    margin-top: 26px;
  }

  .accordion-label__title {
    font-size: 18px;
    line-height: 28px;
  }

  .our-rooms__accordion-content {
    padding: 0;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    width: 70%;
  }

  /* Care */

  .care-container {
    padding: 0 42px;
  }

  .care {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border-radius: 40px;
    gap: 20px;
    padding: 40px;
  }

  .care__intro {
    width: calc(50% - 10px);
    padding: 64px 32px 48px 32px;
  }

  .care__intro-title {
    padding: 0;
  }

  .care__intro-text {
    padding: 0;
    width: 75%;
  }

  .care__intro-button {
    width: 230px;
    margin-top: 48px;
  }

  .care__block {
    width: calc(50% - 10px);
    padding: 0;
    align-items: center;
  }

  .care__block:last-child {
    padding: 0;
    border-radius: 0;
  }

  .care__block:nth-child(2),
  .care__block:nth-child(3) {
    border-bottom: none;
  }

  .care__block-title {
    font-size: 22px;
    line-height: 36px;
    margin: 0;
    margin: 14px 0 10px;
  }

  .care__block-text {
    font-size: 14px;
    line-height: 22px;
    padding: 0;
  }

  .care__block-image {
    width: 100%;
  }

  .care__block-image .block-image {
    width: 100%;
  }

  /* Slider Clients */

  .slider--clients {
    padding: 48px 42px 84px;
  }

  .slider--clients .button-next {
    right: 2%;
  }

  .slider--clients .button-prev {
    left: 2%;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
  .header__button {
    display: block;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(2%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
